.App {
  text-align: center;
  padding-bottom: 20%;
  background-color: #35374F;
  min-height: 100vh;
}


.App-header {
  background: rgb(26,16,48);
  background: linear-gradient(4deg, rgba(26,16,48,1) 4%, rgba(82,67,185,1) 98%);
  padding: 30px;
  margin-bottom: 50px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  margin: auto;
  max-width: 1000px;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50px;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  margin: 0 auto 30px auto;
  width: 80%;
  height: 80vh;
  background-color: #222332;
}

p{
  color: aliceblue;
}

.text-wrapper{
  height: 85%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.input-wrapper{
  padding: 20px;
  border-radius: 30px;
  background-color: #2B2D3E;
  margin: auto;
  width: 100%;
  color: #C1C4CE;
  
}

.input-wrapper2{
  padding: 20px;
  border-radius: 10px;
  background-color: #272732;
  margin: auto;
  width: 80%;
  color:#C1C4CE;
}

form{
  width: 100%;
}

form.input{
  width: 100%;
}

input:focus {
  outline: none !important;
  background-color: #393A49;
}

.text-input{
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #C1C4CE;
  background-color: #343649;
  font-weight: 600;
  width: 100%;
  height: 50px;
}

.text-input:focus {
  background-color: #393A49;
}

.blub-wrapper-one{
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 70%;
  word-wrap: break-word;
  background-color: #424451;
}

.blub-wrapper-two{
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-bottom: 10px;
  display: block;
  border-radius: 20px;
  width: 70%;
  word-wrap: break-word;
  background-color: #3D5895;
}

.button6{
  padding:0.7em 1.4em;
  margin-top:20px;
  border-radius:0.55em;
  text-decoration:none;
  text-transform:uppercase;
  color:#FFFFFF;
  background-color:#655EFC;
  text-align:center;
}

a.button6:active{
  top:0.1em;
}

@media all and (max-width:30em){
  a.button6{
  display:block;
  margin:0.4em auto;
  }
}


.logo{
  width: 350px;
}

