.App {
  text-align: center;
  padding-bottom: 20%;
}


.App-header {
  background-color: #282c34;
  margin-bottom: 50px;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  width: 80%;
  height: 80vh;
  background-color: #282c34;
}

p{
  color: aliceblue;
}

.text-wrapper{
  height: 85%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}

.input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #4c525c;
  margin: auto;
  width: 90%;
  height: 100px;
}

form{
  width: 100%;
}

input{
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
}

input:focus {
  outline: none !important;
}

.text-input{
  border-radius: 20px;
  color: aliceblue;
  background-color: #282c34;
  width: 100%;
  height: 50px;
}

.blub-wrapper-one{
  text-align: center;
  padding: 1px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  max-width: 50%;
  background-color: #4c4e55;
}

.blub-wrapper-two{
  text-align: center;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 20px;
  display: block;
  border-radius: 20px;
  width: 50%;
  background-color: #4b7486;
}